<!-- Sticky Top Horizontal Line Loader -->
<section class="progress" id="ligaLoader">
    <div class="indeterminate"></div>
</section>

<article class="row" id="boxmainmodal">
    <!-- Close Modal -->
    <div class="btnclosemodal right-align">
        <img style="width:20px;cursor: pointer;margin-right:10px;" src="../../assets/icons/exit.svg" alt="X"/>
    </div>

    <!-- Card Profil Pemain -->
    <section class="col s12 m12 l3" id="boxprofil">
        <div class="card-panel card-border center-align" id="boxavatar">
            <h5 class="teal-text"><b>Player</b></h5>
            <img id="imgavaliga" class="" src="assets/icons/player.svg" alt="Player"/>
            <div>
                <a title="Subscribe For Latest Player Info" class="btn-floating btn-large teal pulse">
                    <img class="imglove" src="../../assets/icons/heart.svg" alt=""/>
                </a>
            </div>
            <p>
                <small>
                    Player Info
                </small>
            </p>
        </div>
    </section>

    <!-- Card Player Match -->
    <section class="col s12 m12 l9" id="boxplayerdetil">
        <div class="col s12 card-panel card-border center-align" id="boxsubprofildetil">
            <h6 class="teal-text">... Loading ...</h6>
        </div>
    </section>

</article>