<!-- Sticky Top Horizontal Line Loader -->
<section class="progress" id="ligaLoader">
    <div class="indeterminate"></div>
</section>

<article class="row" id="boxmainmodal">
    <!-- Close Modal -->
    <div class="btnclosemodal right-align">
        <img style="width:20px;cursor: pointer;margin-right:10px;" src="../../assets/icons/exit.svg" alt="X"/>
    </div>

    <!-- Card Profil Team -->
    <section class="col s12 m12 l3" id="boxprofil">
        <div class="card-panel card-border center-align" id="boxavatar">
            <h5 class="teal-text"><b>Team</b></h5>
            <img id="imgavaliga" class="" src="assets/icons/team.svg" alt="Liga"/>
            <div>
                <a title="Subscribe For Latest Team Info" class="btn-floating btn-large teal pulse">
                    <img class="imglove" src="../../assets/icons/heart.svg" alt=""/>
                </a>
            </div>
            <p>Info Team</p>
        </div>
    </section>

    <section class="col s12 m12 l9" id="boxteamdetil">

        <!-- Tab Navigation -->
        <div class="col s12 card-panel card-border">
            <ul class="tabs">
                <li class="tab col s6 tabprofil" id="matches" title="Skor Pertandingan">
                    <a href="#leagues">
                        <div class="row">
                            <div class="col s12 center-align hide-on-med-and-up">
                                <img class="imgtabicon" src="../../assets/icons/match.svg"/>
                            </div>
                            <div class="col m12 center-align hide-on-small-only">
                                PERTANDINGAN
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tab col s6 tabprofil" id="skuad" title="Skuad Team">
                    <a href="#leagues">
                        <div class="row">
                            <div class="col s12 center-align hide-on-med-and-up">
                                <img class="imgtabicon" src="../../assets/icons/player.svg"/>
                            </div>
                            <div class="col m12 center-align hide-on-small-only">
                                SKUAD
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Card Team Match & Squad -->
        <div class="col s12 card-panel card-border center-align" id="boxsubprofildetil">
            <h6 class="teal-text">... Loading ...</h6>
        </div>
    </section>
</article>